<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
</head>

<body>


  <h1>About Page</h1>
  <p>About</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore at sequi esse rem aliquam quibusdam! Quo,
    beatae minima. Quas nostrum officiis vel quasi aliquam voluptatem ad unde error quia omnis.</p>
</body>

</html>