<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>

<body>
    <h1>What is love</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt facere maxime deleniti laborum, eum dolorem
        eius quisquam molestias, possimus odit incidunt nemo quibusdam nulla. Ad dolore quibusdam dolorem fugit quam.
    </p>
</body>

</html>